#board {
  width: 98vw;
  height: 80vh;
  border: 3px solid black;
  margin-left: 1%;
  display: grid;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  align-content: center;
  color: gold;
  font-size: 80px;
  background-color: white;
}
.coin {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.box {
  border: black solid 3px;
  align-content: center;
  justify-content: center;
  display: flex;
}
.player1 {
  width: 75px;
  height: 75px;
  align-self: center;
}
.player2 {
  width: 75px;
  height: 75px;
  align-self: center;
  transform: rotateY(180deg);
}
.wall {
  width: 75px;
  height: 75px;
  align-self: center;
}
.walled {
  background-color: lightgray;
}
#control-bar {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
#player-scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#buttons input {
  width: 24%;
  height: 59%;
  font-size: 44px;
  text-align: center;
  background-color: white;
}
#play-btn {
  width: 51%;
  height: 48%;
  font-size: 40px;
  text-align: center;
  padding-top: 1.5%;
}
#player2 {
  justify-self: end;
  margin-right: 5%;
}
#player1 {
  justify-self: start;
  margin-left: 1%;
}
a {
  margin-bottom: 1%;
}
body {
  background: antiquewhite;
}
